.reply-creation {
  width: 95%;
  height: 30px;
  font-size: 1rem;
  border: solid;
  border-color: var(--border-color);
  border-radius: 35px;
  text-align: initial;
  color: var(--text);
  background: var(--second-background);
  margin-left: 5%;
  margin-top: 0.4rem;
  padding: 0.2rem;
}

@media screen and (max-width: 523px) {
  .reply-creation {
    font-size: 0.8rem;
  }
}
