:root {
  --background: #f3f2ef;
  --second-background: #fdfdfd;
  --border-color: #d8d7d5;
  --date-color: #b1b1b1;
}

img.image-homepage {
  padding-top: 2rem;
  width: 100%;
}

.comment-homepage {
  width: 60%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
  text-align: justify;
  border: solid;
  border-color: var(--border-color);
  border-radius: 1rem;
  background: var(--second-background);
}

@media screen and (max-width: 523px) {
  .comment-homepage {
    width: 80%;
    padding: 1.3rem;
  }
}

.counted-likes {
  display: flex;
  flex-direction: column;
}

.counted-likes::after {
  content: " ";
  display: block;
  border-top: 2px solid var(--border-color);
  width: 100%;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

@media screen and (max-width: 523px) {
  .counted-likes::after {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}

.under-image {
  display: flex;
  margin-top: 1rem;
}

@media screen and (max-width: 523px) {
  .under-image {
    margin-top: .1rem;
  }
}

.username {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 523px) {
  .username {
    font-size: 1rem;
  }
}

.date {
  font-style: italic;
  color: var(--date-color);
  padding-bottom: 0.3rem;
}

@media screen and (max-width: 523px) {
  .date {
    font-size: 0.8rem;
  }
}

.content {
  font-size: 1.3rem;
}

@media screen and (max-width: 523px) {
  .content {
    font-size: 0.8rem;
  }
}

span.likesCount:before {
  font-family: "Font Awesome\ 5 Free";
  font-weight: 400;
  content: "\f164";
  padding-right: 0.5rem;
}

span.likesCount {
  margin-right: 1.5rem;
}
@media screen and (max-width: 523px) {
  span.likesCount {
    font-size: 0.7rem;
    margin-right: .8rem;
  }
}

span.like:before {
  font-family: "Font Awesome\ 5 Free";
  font-weight: 400;
  content: "\f164";
  padding-right: 0.2rem;
  margin-left: -0.4rem;
}

span.share {
  font-size: 1rem;
}

@media screen and (max-width: 523px) {
  span.share {
    font-size: 0.7rem;
  }
}

span.share:before {
  font-family: "Font Awesome\ 5 Free";
  font-weight: bolder;
  content: "\f064";
  padding-right: 0.2rem;
  padding-left: 1rem;
}

@media screen and (max-width: 523px) {
  span.share:before {
    padding-left: 0.5rem;
  }
}

#replies {
  display: block;
}

button.reply-comment-button {
  border: none;
  background: none;
  font-size: 1rem;
}

button.reply-comment-button:before {
  font-family: "Font Awesome\ 5 Free";
  content: "\f4ad";
  padding-right: 0.2rem;
  padding-left: 1rem;
}

@media screen and (max-width: 523px) {
  button.reply-comment-button:before {
    padding-left: 0.5rem;
  }
}

button.delete-comment-button {
  border: none;
  background: none;
  font-size: 1rem;
}

button.delete-comment-button:before {
  font-family: "Font Awesome\ 5 Free";
  content: "\f2ed";
  padding-right: 0.2rem;
  padding-left: 1rem;
}

span.repliesCount {
  font-size: 1rem;
}

@media screen and (max-width: 523px) {
  span.repliesCount {
    font-size: 0.7rem;
  }
}

.image {
  margin-top: -0.5rem;
}

@media screen and (max-width: 523px) {
  .image {
    margin-top: -1.4rem;
  }
}
