
:root {
  --second-background: #fdfdfd;
  --border-color: #d8d7d5;
}
.navigation li {
  display: inline;
  margin-right: 10px;
}

ul.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 2rem;
    background: var(--second-background);
    border-bottom: solid;
    border-bottom-color: var(--border-color);
  }