:root {
  --background: #f3f2ef;
  --second-background: #fdfdfd;
  --border-color: #d8d7d5;
  --date-color: #424242;
  --input-text: #686868;
}
span.error_message {
  color: red;
  font-size: 1.3rem;
}
.login-form {
  max-width: 75%;
  margin: 50px auto;
  background: var(--second-background);
  border-radius: 1rem;
  padding: 20px;
  font-family: "Roboto";
  font-size: 1rem;
}
.login-form h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: var(--input-text);
  font-size: x-large;
}
.login-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.login-form li {
  display: block;
  padding: 9px;
  border: 1px solid var(--border-color);
  margin-bottom: 30px;
  border-radius: 3px;
}

.login-form li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: var(--second-background);
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: var(--input-text);
  font-size: 14px;
  overflow: hidden;
  font-family: "Roboto";
}

.login-form input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: "Roboto";
}

.login-form li > span {
  background: var(--background);
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: var(--input-text);
  font-family: "Roboto";
  font-size: 11px;
}
.login-form textarea {
  resize: none;
}

.login-image {
  width: 80%;
}
@media screen and (max-width: 523px) {
  .login-form input {
    font-size: 12px;
    text-align: center;
  }
  .login-form h1 {
    font-size: 15px;
  }
}
