@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --background: #f3f2ef;
  --second-background: #fdfdfd;
  --border-color: #d8d7d5;
  --date-color: #b1b1b1;
  --input-text: #686868;
  --text: #2b2b2b;
}


body {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Roboto";
  color: var(--text);
}

div#root {
  width: 100%;
}

.App {
  text-align: center;
  background: var(--background);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img.logo {
  width: 40%;
}

header.App-header {
  padding: 2rem;
}

h2 {
  margin: 0;
}

/* img.image-homepage {
  padding-top: 2rem;
  width: 100%;
}

.comment-homepage {
  margin: 2rem;
  padding: 2.5rem;
  text-align: justify;
  border: solid;
  border-color: #d8d7d5;
  border-radius: 1rem;
  background: #fdfdfd;
} */

/* @media screen and (max-width: 767px) {
  .comment-homepage {
    margin: 0;
    padding: 1.5rem;
    text-align: justify;
    border-top: solid;
    border-color: #d8d7d5;
    background: #fdfdfd;
  }

  header.App-header {
    padding: 0;
  }
} */

/* .username {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.date {
  font-style: italic;
  color: #b1b1b1;
  padding-bottom: 0.3rem;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* 
.login-button {
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  background: #686868;
  font: bold 13px "Roboto";
  color: #fff;
  font-size: 1rem;
}

a.login-button {
  padding: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
} */

