:root {
    --background: #f3f2ef;
    --second-background: #fdfdfd;
    --border-color: #d8d7d5;
    --date-color: #424242;
    --text: #2b2b2b;
  }
  
  .comment-creation {
    width: 100%;
    font-size: 1.4rem;
    border: solid;
    border-color: var(--border-color);
    border-radius: 35px;
    padding-left: 16px;
    text-align: initial;
    padding: 1rem;
    color: var(--text);
    background: var(--second-background);
  }
  
  .comment-creation:hover {
    cursor: pointer;
  }
  
  @media screen and (max-width: 523px) {
    .comment-creation {
      font-size: 1rem;
    }
  }